<tr>
  <td><%= link_to gist.question.body.to(25), admin_question_path(gist.question) %></td>
  <td><%= link_to gist.link, "https://gist.github.com/#{gist.link}" %></td>
  <td><%= gist.user.email %></td>
</tr>
