<footer>
  <hr>
<div class="footer-content">
  <div class="creator">Created by A. Rzhevsky</div>
  <div class="year"><%= current_year %></div>
  <div class="links">
    <%= github_url('gauzeee', 'testguru') %>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </div>
</div>
</footer>
