.logo {
  padding-top: 20px;
  text-align: left;
}
.logo a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.user_info {
  text-align: right;
}

nav {
  height: 60px;
  background-color: #a0afaf;
  padding: 10px;
}

